<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>${plugin_name}</title>
  <style>
    /* Shout-out to http://bettermotherfuckingwebsite.com/ for this CSS */

    body {
      margin: 40px auto;
      max-width: 650px;
      line-height: 1.6;
      font-size: 18px;
      color: #444;
      padding: 0 10px;
    }

    h1,
    h2,
    h3 {
      line-height: 1.2
    }
  </style>
</head>

<body>
  <a style="display: flex; justify-content: center;">
    <img style="width: 100px;" src="https://pbs.twimg.com/profile_images/969614361349251072/z9DXgjbP_400x400.jpg" alt="your_logo_goes_here"
    />
  </a>
  <h1 align="center">${plugin_name}</h1>
  <hr>
  <p align="center">${plugin_comment}</p>

  <h2>Description</h2>
  <p>Provide a brief description of the tool.</p>

  <h2>Features</h2>
  <ul>
    <li>List out the features</li>
    <li>point by point</li>
  </ul>

  <h2>Setup</h2>
  <p>Where to get the plugin, how to install and setup.</p>

  <h2>Usage</h2>
  <p>How to use the plugin goes here. Embedding a giff or video tutorial is helpful!</p>

  <h2>Feedback</h2>
  <p>Provide an email address or link to the issues page of the repo for support.</p>

  <h2>Credits</h2>
  <p>Provide a list of authors, contributors and inpiration for the plugin.</p>

  <h2>Support</h2>
  <p>Call for action to support you by linking to patreon page or github account for staring.</p>

</body>

</html>