<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${plugin_name}</title>
    <style>
        body {
            color: #5D6063;
        }

        h1 {
            color: black;
        }

        h3 {
            color: black;
            border-bottom: 2px;
        }

        p {
            margin-top: 0;
        }
    </style>
</head>

<body>
    <a style="display: flex; justify-content: center;">
        <img style="width: 100px;" src="https://pbs.twimg.com/profile_images/969614361349251072/z9DXgjbP_400x400.jpg" alt="your_logo_goes_here"
        />
    </a>
    <h1 align="center">${plugin_name}</h1>
    <hr>
    <p align="center">${plugin_comment}</p>

    <h3>Description :</h3>
    <p>Provide description of the tool.</p>

    <h3>Features :</h3>
    <ul>
        <li>List out the features of the tool</li>
        <li>point by point</li>
    </ul>

    <h3>Installation & Setup :</h3>
    <p>Where to find the script, how to install and setup.</p>

    <h3>Usage :</h3>
    <p>How to use the script goes here. Embedding a giff or video tutorial is helpful!</p>

    <h3>Feedback :</h3>
    <p>Provide a way for the users to give feedback on the tool. Your email address or link to the issues page of github repo
        would be great.</p>

    <h3>Credits :</h3>
    <p>Provide the details of the people who created this script Or links to the people who inspired you or helped you!</p>

    <h3>Support :</h3>
    <p>Call of action for the users to support you in case they like this plugin.You can link to your patreon page or github
        account for staring!</p>

</body>

</html>